/* Reset Styles
   Author: Florian Purchess
   ----------------------------------------------------*/


/* =RESET
   ----------------------------------------------------*/

html { font-size: 62.5%; } /* 1em = 10px when font-size standard is 16px */
   
body {
    line-height: 1;
    font-family: Verdana,Arial,serif;
    font-size: 1em;
}
 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
}

a img {border: 0;}

:focus {outline: 0;}

ol, ul {list-style-type: none;}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

blockquote:before, blockquote:after,
q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}

address {font-style: normal;}


/* =LAYOUT
   ----------------------------------------------------*/

html,
body {
	height: 100%;
}

#ex__wrapper {
	font-size: 1.2em;
	height: 100%;
	overflow: hidden;
}

#ex__left {
	background-color: #eee;
	border-right: 3px double #ccc;
	float: left;
	height: 100%;
	padding: 20px;
	position: relative;
	width: 340px;
}

#ex__content {
	margin-left: 340px;
	height: 100%;
	padding: 20px 20px 20px 50px;
	position: relative;
}
	

/* =LEFT
   ----------------------------------------------------*/

#ex__left .toggle {
	position: fixed;
	left: 290px;
    text-align: right;
    top: 10px;
    width: 55px;
}

#ex__left h2 {
	line-height: 1.5em;
	margin: 0 0 15px;
}

#ex__left ul {
	list-style-type: none;
	margin: 0 0 5px 15px;
}

#ex__left ul span {
	cursor: pointer; 
	font-size: 1.2em;
	font-weight: bold;
	line-height: 1.5em;
}

#ex__left .level_0 {
	display: block;
	margin: 0 0 5px;
}

#ex__left ul li a {
	font-size: 1.2em;
    line-height: 1.5em;
}
    

/* =CONTENT
   ----------------------------------------------------*/

#ex__content h1 {
    margin: 0 0 27px;
}

#ex__content h2 {
	margin: 5px 0 15px;
}

#ex__content h3 {
	font-size: 1.3em;
    margin: 20px 0 10px;
}

#ex__content p.description {
	font-size: 1.2em;
	margin: 20px 0 30px;
}

#ex__content ul {
    font-size: 1.2em;
    line-height: 1.5em;
}

#ex__content ul li {
	margin: 0 0 10px 15px;
}

#ex__content ul li span.description {
	font-size: 0.9em;
}


/* =SANDBOX
   ----------------------------------------------------*/

.sandbox_spacer {
	background: blue;
	display: none;
}

#ex__sandbox {
	background: #ddd;
	bottom: 0;
	position: absolute;
	height: 35px;
	left: 0;
	overflow: hidden;
	width: 100%;
}

#ex__sandbox.expanded {
	height: 75%;
}

#ex__sandbox h2 {
	cursor: pointer;
	text-align: center;
	margin: 0 0 20px;
	padding: 10px 15px;
}

#ex__sandbox .wrap {
	padding: 0 20px 10px 50px;
	height: 100%;
}

#ex__sandbox form {
	height: 100%;
}


#ex__sandbox form .submit {
	background: #fff;
	border: 1px solid;
	cursor: pointer;
	display: none;
	padding: 3px 5px;
	position: absolute;
	right: 15px;
	top: 6px;
}

#ex__sandbox.expanded form .submit {
	display: block;
}

#ex__sandbox.expanded form .disabled {
    border: 1px #fff;
    color: #aaa;
    cursor: default;
}

#ex__sandbox label {
	display: block;
	font-size: 1.1em;
	margin: 0 0 5px;
}

#ex__sandbox textarea {
	height: 75%;
    overflow: scroll;
    width: 100%;
}

#ex__sandbox .parameters {
    float: left;
    height: 100%;
    width: 48%;
}

#ex__sandbox .returns {
    float: right;
    height: 100%;
    width: 48%;
}


/* =GENERAL
   ----------------------------------------------------*/
   
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}